a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


#Progress {
  width: 100%;
  background-color: grey;
}

#Bar {
  width: 1%;
  height: 30px;
  background-color: green;
}